body.index-body {
    font-family: 'Poppins', sans-serif;
    color: var(--primay);
    padding-top: 68px;
  }

  .zoom .card:hover {
    transition: 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }